.clock {
    position: relative;
    margin: 50px auto;
    background-color: black;
    /*border:1px solid red;*/
    height:500px;
    border-radius:50%;
    width:500px;
    padding: 2%;
}

.clockFace {
    position: relative;
    width: 100%;
    height: 100%;
    /*transform: translateY(1.5%);*/
}

.hand {
    position: absolute;
    width: 50%;
    height: 1%;
    background: white;
    top: 50%;
    transform-origin: 100%; /* rotate on its end instead of its center */
    transform: rotate(90deg); /* so it starts vertical instead of horizontal */
}

.hour {
    left: 10%;
    width: 40%;
    /*transform: translateX(-20%);*/
    /*-webkit-transform: translate(20%,20%); !** Chrome & Safari **!*/
}


.second {
    height: 0.5%;
    background: red;
}

.center {
    position: absolute;
    margin: 50%;
    background-color: white;
    /*border:1px solid red;*/
    height:15px;
    border-radius:50%;
    width:15px;
    -webkit-transform: translate(-50%, -50%); /* chrome and safari */
    -moz-transform: translate(-50%, -50%); /* firefox */
}

.three {
    position: absolute;
    width: 6%;
    height: 1%;
    background: white;
    left: 100%;
    bottom: 49%;


}

.six {
    position: absolute;
    width: 6%;
    height: 1%;
    background: white;
    top: 102.3%;
    left: 47%;
    transform: rotate(90deg);


}

.nine {
    position: absolute;
    width: 6%;
    height: 1%;
    background: white;
    right: 100%;
    bottom:49%;

}

.twelve {
    position: absolute;
    width: 6%;
    height: 1%;
    background: white;
    left: 47%;
    bottom: 102.3%;
    transform: rotate(90deg);


}