body {
    /*background-image: url('background-paper.jpg');
    background-size : 100% auto*/
    background-color: #FDFDFD;
    /*background-color: #DCDCDC;*/
}

.navbar-inverse {
    border-radius: 0px;
    padding: 10px;
    font-size: 20px;
    /*margin-bottom: 0;*/
}

.navbar-brand {
    font-size: 25px;
}
