body {
    padding-bottom: 200px;
}

.navbar-inverse {
    margin-bottom: 0 !important;
}

.jumbotron{
color: #FFFFFF !important;
background-color: #03396c !important;
}

.name {
    font-size: 700% !important;
    font-weight: 600 !important;
}

.index-description {
    font-size: 200% !important;
}


.links:link, .links:visited {
    border-radius: 25px;
    background-color: #DCDCDC;
    color: black;
    border: 2px solid #6497b1;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.links:hover, .links:active {
    background-color: #6497b1;
    color: white;
}
