body {
    padding-bottom: 100px;
}

td {
    width: 30px;
    height: 30px;

}

.blank {
    background-color: blank;
}

.snake {
    background-color: green;
    border-style: solid;
    border-color: white;
    border-width: thin;
}

.wall {
    background-color: black;
    border-style: solid;
    border-color: white;
    border-width: thin;
}

.fruit {
    background-color: red;
}
