

.item {
  font-size: x-large;
}

.small {
  max-width: 70%
}


.jumbotron {
  text-align: center;
  color: #FFFFFF !important;
  background-color: #03396c !important;

}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.well {
    /*background-color: #011f4b !important;*/
}

.btn-primary {
    background-color: #6497b1 !important;
}
